@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
body {
  background: var(--engado, linear-gradient(135deg, #9B1600 24.07%, #783124 84.39%));
   overflow-y: hidden;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
}

.wrapper{
display: flex;
flex-direction: column;
align-items: center;
}

.wrapper p {
  color: #EE4B2F;
font-family: Poppins;
font-size: 80px;
font-weight: 700;
margin: 0 auto;
}